<dom-module id="de-alttabmenuitem">
  <!-- Optional shadow DOM template -->
  <template>
    <style>
      :host {
        --active-color: #505050;
        transition: background .2s;
        width: 52px;
        margin-right: 6px;
        height: 52px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      :host:last-child {
        margin-right: 0;
      }
      .active {
        background: var(--active-color);
      }
      #wrapper {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:100%;
        transition: background .2s;
      }
    </style>

    <!-- shadow DOM for your element -->
    <div id="wrapper">
      <img on-click="{{onClick}}" src="../apps/{{app}}/icon.png"/>
    </div>
  </template>

  <script>
    // Define the element's API using an ES2015 class
    class DeAltTabMenuItem extends Polymer.Element {

      static get is() {
        return 'de-alttabmenuitem';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          pid: {
            type: Number,
          },
          app: {
            type: String
          }
        }
      }

      // Add methods to the element's public API
      activate() {
        let app = $(`[data-pid="${this.pid}"]`)[0]
        this.hidden = app.style.display == "none"
        this.oldAppZIndex = app.style.zIndex
        this.$.wrapper.className += " active "
        app.style.display = ""
        app.style.zIndex = 100499
      }

      deactivate() {
        let app = $(`[data-pid="${this.pid}"]`)[0]
        app.style.zIndex = this.oldAppZIndex
        this.$.wrapper.className = this.className.replace(" active ", '')
        if (this.hidden)
          app.style.display = "none"
      }

      onClick() {
        let app = $(`[data-pid="${this.pid}"]`)[0]
        app.goForward()
        app.style.display = ""
      }

      ready() {
        super.ready()
        this.addEventListener("mouseover", this.activate.bind(this))
        this.addEventListener('mouseout', this.deactivate.bind(this))
        this.addEventListener('click', this.onClick.bind(this))

        this.style.setProperty('--active-color', `var(--paper-${window.config.primaryColor}-400)`)
        Emitter.on('colorSchemeChanged', function(color){
          this.style.setProperty('--active-color', `var(--paper-${color}-400)`)
        }.bind(this))
      }

    }

    // Register the de-alttabmenuitem element with the browser
    customElements.define(DeAltTabMenuItem.is, DeAltTabMenuItem);
  </script>

</dom-module>
