<link rel="import" href="altTabMenuItem.html">
<dom-module id="de-alttabmenu">
  <!-- Optional shadow DOM template -->
  <template>
    <style>
    :host {
      --background-color: #424242;
      display: none;
    }
    #altTabMenu {
      position: absolute;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      background: var(--background-color);
      margin-left: calc(50vw - 61px);
      margin-top: calc(50vh - 36px);
      /* margin: auto; */
      width: auto;
      display: inline-flex;
      padding: 10px;
      z-index: 100500;
    }
    .altTabElem {
      transition: background .2s;
      width: 52px;
      margin-right: 6px;
      height: 52px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .altTabElem:last-child {
      margin-right: 0;
    }
    .altTabElem:hover {
      background: #505050;
    }
    </style>

    <!-- shadow DOM for your element -->

    <div id="altTabMenu">
    </div>
  </template>

  <script>
    // Define the element's API using an ES2015 class
    class DeAltTabMenu extends Polymer.Element {

      static get is() {
        return 'de-alttabmenu';
      }

      // Add methods to the element's public API
      greetMe() {
        console.log(this.greeting);
      }

      appendApp(pid, app) {
        let el = $(this.$.altTabMenu).prepend(`<de-alttabmenuitem  pid=${pid} app="${app}"></de-alttabmenuitem>`)
      }

      removeApp(pid) {
        $(this.$.altTabMenu).find(`[pid=${pid}]`).remove()
      }

      show() {
        if ($(this.$.altTabMenu).find(`de-alttabmenuitem`).length<2) {
          return
        }
        console.log("active")
        this.activeItem = 1
        $(this.$.altTabMenu).find(`de-alttabmenuitem`)[1].activate()
        var mousetrap = require("mousetrap")
        this.style.display = "inline-flex"
        mousetrap.unbind("ctrl+tab")
        $(document).on('keyup', function(e) {
          console.log(e)
          if (e.keyCode == 17) {
            let el = this.$.altTabMenu.querySelectorAll(`de-alttabmenuitem`)[this.activeItem]
            el.deactivate()
            el.onClick()
            $(el).remove()
            $(this.$.altTabMenu).prepend(el)
            this.hide()
          }
        }.bind(this))
        $(document).on('keydown', function(e) {
          if (e.keyCode == 9) {
            console.log(this.$.altTabMenu.querySelectorAll(`de-alttabmenuitem`)[1], this.activeItem)
            this.$.altTabMenu.querySelectorAll(`de-alttabmenuitem`)[this.activeItem].deactivate()
            console.log(this.activeItem);
            if (this.activeItem != this.$.altTabMenu.querySelectorAll(`de-alttabmenuitem`).length-1) {
              this.activeItem += 1
            } else {
              this.activeItem = 0
            }

            $(this.$.altTabMenu).find(`de-alttabmenuitem`)[this.activeItem].activate()
          }
        }.bind(this))
      }

      hide() {
        this.style.display = "none"
        var mousetrap = require("mousetrap")
        mousetrap.bind("ctrl+tab", function() {
          if (this.style.display == "none") {
            this.show()
          } else {
            this.hide()
          }
        }.bind(this))
        $(document).off('keydown')
        $(document).off('keyup')
      }

      ready() {
        super.ready()
        var mousetrap = require("mousetrap")
        mousetrap.bind("ctrl+tab", function() {
          console.log(this.style.display)
          if (this.style.display != "inline-flex") {
            console.log("Show");
            this.show()
          } else {
            console.log("Hide");
            this.hide()
          }
        }.bind(this))

        this.style.setProperty('--background-color', `var(--paper-${window.config.primaryColor}-600)`)
        Emitter.on('colorSchemeChanged', function(color){
          this.style.setProperty('--background-color', `var(--paper-${color}-600)`)
        }.bind(this))
      }

    }

    // Register the x-custom element with the browser
    customElements.define(DeAltTabMenu.is, DeAltTabMenu);
  </script>

</dom-module>
