<dom-module id="dash-app-item">
  <!-- Optional shadow DOM template -->
  <template>
    <style>
    .app {
      color: #4e4e4e;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      padding: 5px;
      transition: background .2s;
      cursor: pointer;
      box-sizing: border-box;
    }

    .app img {
      width: 36px;
      height: 36px;
      margin-right: 10px;
      margin-left: 5px;
    }

    .app:hover {
      background: rgba(0,0,0,0.05);
    }
    </style>

    <template is="dom-if" if="{{search}}" restamp>
      <style>
      .app {
        color: white;
      }
      </style>
    </template>

    <!-- shadow DOM for your element -->

    <div class="app" on-click="runApp">
      <img src="../apps/{{app}}/icon.png"  /> {{appName}}
    </div>
  </template>

  <script>
    $ = require('jquery')
    ipcRenderer = require('electron').ipcRenderer
    // Define the element's API using an ES2015 class
    class DashAppItem extends Polymer.Element {

      static get is() {
        return 'dash-app-item';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          app: {
            type: String,
            value: "fileMan"
          },
          search: {
            type: Boolean,
            value: false
          }
        }
      }

      ready() {
        super.ready()
        let fs = require("fs-extra")
        let config = fs.readJsonSync(__dirname+"/../apps/" + this.app + "/package.json")['access-info']
        config = config || {}
        this.appName = config.appName || this.app
        if (!this.search)
          Emitter.emit('dashAddApp', this.appName, this.app)
      }

      runApp() {
        Emitter.emit('openApp', this.app)
        Emitter.emit('closeDash')
      }
    }

    // Register the x-custom element with the browser
    customElements.define(DashAppItem.is, DashAppItem);
  </script>

</dom-module>
