<dom-module id="dash-category">
  <!-- Optional shadow DOM template -->
  <template>
    <style>
    .category {
      margin-bottom: 15px;
    }

    .category .title {
      display: inline-block;
      width: calc(100% - 20px);
      font-size: 0.85em;
      color: var(--title-color, rgb(244, 67, 54));
      margin-left: 10px;
      transition: color .2s;
    }

    .apps {
      box-sizing: border-box;
      padding: 5px 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    </style>

    <!-- shadow DOM for your element -->

    <div class="category">
      <span class="title">{{name}}</span>
      <div class="apps">
        <slot></slot>
      </div>
    </div> <!-- data bindings in local DOM -->
  </template>

  <script>
    // Define the element's API using an ES2015 class
    class DashCategory extends Polymer.Element {

      static get is() { return 'dash-category'; }

      // Declare properties for the element's public API
      static get properties() {
        return {
          name: {
            type: String,
          }
        }
      }

      ready() {
        super.ready()
        this.style.setProperty('--title-color', `var(--paper-${window.config.primaryColor}-500)`)
        Emitter.on('colorSchemeChanged', function(color){
          this.style.setProperty('--title-color', `var(--paper-${color}-500)`)
        }.bind(this))
      }

    }

    // Register the x-custom element with the browser
    customElements.define(DashCategory.is, DashCategory);
  </script>

</dom-module>
