<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<dom-module id="de-app">
  <!-- Optional shadow DOM template -->
  <template>
    <style is="custom-style">
      :host {
        position: absolute;
        top: 0;
      }

      #test-app {
        position: absolute;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      }

      #test-app webview {
        height: 100%;
        width: 100%;
      }

      #test-app.fullscreen {
        box-shadow: none;
      }

      #header {
        justify-content: space-between;
        align-items: center;
        /*font-size: 20px;*/
        color: white;
        display: flex;
        padding: 3px;
        cursor: pointer;
        height: 25px;
        background: #0d47a1;
        transition: background .1s;
        /*line-height: 20px;*/
      }

      #title {
        font-size: 0.9em;
        height: 1em;
        display: inline-block;
        margin-left: 5px;
      }

      #buttons {
        -webkit-app-region: no-drag;
        align-items: center;
        height: 25px;
        width: auto;
        display: inline-flex;
        float: right;
      }

      a.header-button {
        font-size: 18px;
        margin-right: 4px;
        transition: background .4s;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        height: 21px;
        width: 21px;
        display: inline-flex;
        color: rgb(255, 255, 255);
        border-radius: 2px;
      }

      a.header-button:hover {
        background: rgba(255, 255, 255, 0.13);
        color: white;
      }

      .header-button iron-icon {
        --iron-icon-width: 18px;
        --iron-icon-height: 18px;
      }

      #app-wrapper {
        width:100%;
        height: calc(100% - 31px);;
      }

      #resizer-left-top {
        width: 10px;
        height: 10px;
        position: absolute;
        top: -10px;
        left: -10px;
        cursor: nw-resize;
      }

      #resizer-left {
        width: 10px;
        height: 100%;
        position: absolute;
        bottom: 0px;
        left: -10px;
        cursor: w-resize;
      }

      #resizer-left-bottom {
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: -10px;
        left: -10px;
        cursor: sw-resize;
      }

      #resizer-bottom {
        width: 100%;
        height: 10px;
        position: absolute;
        bottom: -10px;
        right: 0px;
        cursor: s-resize;
      }

      #resizer-right-bottom {
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: -10px;
        right: -10px;
        cursor: se-resize;
      }
      #resizer-right {
        width: 10px;
        height: 100%;
        position: absolute;
        bottom: 0px;
        right: -10px;
        cursor: e-resize;
      }

      #resizer-right-top {
        width: 10px;
        height: 10px;
        position: absolute;
        top: -10px;
        right: -10px;
        cursor: ne-resize;
      }

      #resizer-top {
        width: 100%;
        height: 10px;
        position: absolute;
        top: -10px;
        right: 0px;
        cursor: n-resize;
      }

      #__context-menu {
        display: flex;
        width: 200px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        flex-direction: column;
        position: absolute;
        background: white;
        z-index: 100600;
      }

      .__context-menu-item {
        display: flex;
        align-items: center;
        padding: 10px;
        color: #424242;
        cursor: pointer;
        transition: color .15s, background .15s;
        --paper-checkbox-unchecked-color: #424242;
        /*--paper-checkbox-checked-color: #424242;*/
      }

      paper-checkbox {
        --paper-checkbox-unchecked-color: #424242;
      }
      .__context-menu-item * {
        cursor: pointer;
      }

      .__context-menu-item:hover {
        color: white;
        background: #2979ff;
      }

      .__context-menu-item iron-icon {
        width: 1.5em;
        height: 1.5em;
        margin-right: 5px;
      }
    </style>

    <!-- shadow DOM for your element -->
    <div id="test-app">
      <div id="header" class="blue darken-4">
        <div id="title">
          {{appName}} {{title}}
        </div>
        <div id="buttons">
          <a class="header-button" id="reload-btn"><iron-icon icon="icons:refresh"></iron-icon></a>
          <a class="header-button" id="dev-btn"><iron-icon icon="icons:build"></iron-icon></a>
          <a class="header-button" id="min-btn"><iron-icon icon="icons:remove"></iron-icon></a>
          <a class="header-button" id="max-btn"><iron-icon icon="icons:fullscreen"></iron-icon></a>
          <a class="header-button" id="close-btn"><iron-icon icon="icons:close"></iron-icon></a>
        </div>
      </div>

      <div id="app-wrapper">
        <webview plugins src="../apps/{{app}}/index.html" nodeIntegration preload="app-preload.js">
        </webview>
      </div>

      <div id="resizer-left-top"></div>
      <div id="resizer-left"></div>
      <div id="resizer-left-bottom"></div>
      <div id="resizer-bottom"></div>
      <div id="resizer-right-bottom"></div>
      <div id="resizer-right"></div>
      <div id="resizer-right-top"></div>
      <div id="resizer-top"></div>
    </div>
  </template>

  <script>
    $ = require('jquery')
    var jQuery = $
    // require('jquery-ui.min')
  </script>

  <!-- <script src="jquery/jquery-ui.min.js"></script> -->

  <script>
    // Define the element's API using an ES2015 class
    class DeApp extends Polymer.Element {

      static get is() {
        return 'de-app'
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          app: {
            type: String,
            value: "#"
          },
          args: String
        }
      }

      // Add methods to the element's public API
      getWebview() {
        return $(this.$['test-app']).find('webview')[0]
      }

      getTestApp() {
        return this.$['test-app']
      }

      move(x, y, fs) {
        let el = this
        window.el = el
        el.$['test-app'].style.top = `${x}px`
        el.$['test-app'].style.left = `${y}px`
        if (fs || (x == "0px" && y == "0px")) {
          return
        }
        this.poz = [x, y]
        // console.log(this.poz)
      }

      goForward() {
        if (this.menu_data[0].checked && this.$['test-app'].style.zIndex>=0) {
          window.Emitter.emit("appActive", $(this).attr("data-pid"))
          return
        }
        console.log("Forward!")
        let oldZIndex = this.$['test-app'].style.zIndex
        $('de-app').each(function(k, v) {
          let app = v.getTestApp()
          if (app.style.zIndex > oldZIndex) {
            app.style.zIndex -= 1
          }
        })
        this.$['test-app'].style.zIndex = window.appsCounter
        this.style.zIndex = null
        if (oldZIndex<0){
          $(this.$['test-app']).css({
            "opacity": "0",
          }).show().animate({
            opacity: 1
          }, {
            duration: 150,
            complete: function() {
              // $(this.$['test-app']).find('#__context-menu').remove()
              this.style.display = "block"
            }.bind(this)
          })
        } else {
          // this.$['test-app'].style.zIndex = window.appsCounter
          // $(this.$['test-app']).find('#__context-menu').remove()
          // this.style.display = "block"
          // this.style.zIndex = null
          // window.Emitter.emit("appActive", $(this).attr("data-pid"))
        }
        window.Emitter.emit("appActive", $(this).attr("data-pid"))

      }

      toggleOnTop() {
        console.log(this.menu_data[0].checked)
        if (this.menu_data[0].checked) {
          this.$['test-app'].style.zIndex = 0
          this.menu_data[0].checked = false
          this.goForward()
        } else {
          console.log("To top")
          this.$['test-app'].style.zIndex = 100400
          this.menu_data[0].checked = true
        }
      }

      ready() {
        super.ready()

        // Передвигаем окно на начальное положение
        this.move(50, 150)

        let w = $(this.$['test-app']).find("webview")[0]

        $(w).on("did-get-response-details", function() {
          console.log(`window.__accessArgs = ${this.args}`)
          w.executeJavaScript(`window.__accessArgs = ${this.args}`)
        }.bind(this))

        this.started = false

        this.args = this.args||"{}"

        w.addEventListener('close', this.close.bind(this))

        w.addEventListener('ipc-message', function(event) {

          switch (event.channel) {
            case "clicked-on-app":
              this.goForward.call(this);
              break;

            case "subscribe":
              Emitter.on(event.args[0], function() {
                console.log("Caught:", event.args[0])
                w.send(event.args[0], ...arguments)})

            case "appStarted":
              if (this.started) {
                break
              }
              this.started = true
              $("de-alttabmenu")[0].appendApp(event.args[0], this.app)
              $("de-dock")[0].appendApp(this.app, event.args[0])
              $(this).attr("data-pid", event.args[0])
              window.Emitter.emit("appActive", $(this).attr("data-pid"))
              console.log(this.args)
              w.send('initArgs', JSON.parse(this.args||{}))
              break

            case "changeColor":
              let color = event.args[0]
              $(this.$['test-app']).find('#header').css('background', color)
              break
            
            case "changeTitle":
              let title = event.args[0]
              this.title = title
              break

            case "emit":
              console.log("Emitted:", event.args[0])
              Emitter.emit(...event.args)
              break

            case "appStarted":
              condole.log("APP STARTED")
              w.send('initArgs', JSON.parse(this.args))

            default:
              console.log([event.channel, ...event.args])
              Emitter.emit(event.channel, ...event.args)
              break
          }

        }.bind(this))

        this.menu_data = [
          {
            type: "checkbox",
            checked: false,
            name: "Always on top",
            callback: this.toggleOnTop
          },
          {
            type: "normal",
            name: "Maximize",
            callback: this.maximize,
            icon: 'icons:fullscreen'
          },
          {
            type: "normal",
            name: "Minimize",
            callback: this.minimize,
            icon: 'icons:remove'
          },
          {
            type: "normal",
            name: "Close",
            callback: this.close,
            icon: 'icons:close'
          },
          {
            type: "normal",
            name: "Open DevTools",
            callback: this.openDevTools,
            icon: 'icons:build'
          }
        ]

        var access = require("./access.js")

        // Переход вперед при клике на заголовок
        $(this.$['test-app']).find("#header").on("mousedown", function(event){console.log(event.which, event);if (event.which==1){this.goForward()}}.bind(this)).on('contextmenu', function(e){
          access.createContextMenu(this.menu_data, process.pid, e.clientY,e.clientX, false, this)
          // contextMenu.show(e, this.menu_data, $(this.$['test-app']), this)
        }.bind(this))

        // Увеличиваем счетчие запущенных приложений
        window.appsCounter += 1

        // Переносим приложение на нужный план
        this.$['test-app'].style.zIndex = window.appsCounter

        // Загружаем и парсим конфиг
        let fs = require("fs-extra")
        let config = fs.readJsonSync(__dirname + "/../apps/" + this.app + "/package.json")['access-info']
        if (!config)
          config = []
        if (config.size) {
          var size = config['size'].split('x')
        } else {
          var size = [600, 400]
        }

        this.appName = config.appName || this.app[0].toUpperCase() + this.app.substring(1)

        // Размер окна, позиция окна
        this.window_size = size
        this.poz = (0, 0)


        // Обрабатываем фулскрин
        if (config.fullscreen) {
          size = ["100vw", "calc(100vh - " + ((config.frameless ? 25 : 0) + 50) + "px)"]
          this.move(0, 0, true)
          $(this.$['test-app']).addClass("fullscreen")
        }

        // Меняем цвет заголовка
        // TODO: заменить на meta
        if (config.appBarColor) {
          $(this.$['test-app']).find("#header").css("background", config.appBarColor)
        }

        // Устанавливаем размеры окна
        $(this.$['test-app']).css("width", size[0]).css("height", size[1])
        if (config.frameless) {
          $(this.$['test-app']).find('#header').css("display", "none")
        }

        // Элементы для Drag'n'Drop
        var draggable = $(this.$['test-app']).find('#header')[0]
        var el = this.$['test-app']

        function getCoords(elem) {
          // Темная магия

          var box = elem.getBoundingClientRect();

          var body = document.body;
          var docEl = document.documentElement;

          var scrollTop = window.pageYOffset || docEl.scrollTop || body.scrollTop;
          var scrollLeft = window.pageXOffset || docEl.scrollLeft || body.scrollLeft;

          var clientTop = docEl.clientTop || body.clientTop || 0;
          var clientLeft = docEl.clientLeft || body.clientLeft || 0;

          var top = box.top + scrollTop - clientTop;
          var left = box.left + scrollLeft - clientLeft;

          return {
            // Не даем выходить за левую и верхнюю границы экрана
            top: Math.max(Math.round(top), 0),
            left: Math.max(Math.round(left), 0)
          };
        }

        draggable.onmousedown = function(e) {

          var coords = getCoords(el);
          var shiftX = e.pageX - coords.left;
          var shiftY = e.pageY - coords.top;

          // moveAt.call(this, e);

          function moveAt(e) {
            let left = Math.max(Math.min(e.pageX, $(window).width()) - shiftX, 0)
            let top = Math.max(Math.min(e.pageY, $(window).height()-$('de-dock').height()-$(this.$['test-app']).find("#header").height()+shiftY) - shiftY, 0)

            el.style.left = left + 'px';
            el.style.top = top + 'px';
            if (el.style.top != "0px" && el.style.left != "0px")
              // Чтобы выход из фуллскрина был корректный
              this.poz = [parseInt(el.style.top), parseInt(el.style.left)]
            // console.log(this.poz)
          }

          document.onmousemove = function(e) {
            // Магия для выхода из фулскрина. Высчитывается отступ от края экрана,
            // берутся проценты, а потом оп - и расстояние от края окна до мыши в процентах
            // такое же как в полноэкранном режиме
            if ($(el).hasClass("fullscreen")) {
              // console.log(this.window_size)
              $(el).removeClass("fullscreen")
              el.style.width = parseInt(this.window_size[0]) + "px"
              el.style.height = parseInt(this.window_size[1]) + "px"
              el.style.top = Math.max(e.pageY - shiftY, 0) + 'px';

              this.move(Math.max(e.pageY - shiftY, 0), e.x - (parseInt(this.window_size[0]) / 100 * (e.x / ($(window).width() / 100))))
              // console.log(coords)
              // Обновляем координаты, так как размер приложения изменился
              coords = getCoords(el)
              shiftX = e.pageX - coords.left;
              shiftY = e.pageY - coords.top;
              // console.log(coords)
              return
            }
            moveAt.call(this, e);
          }.bind(this);

          document.onmouseup = function() {
            // Когда мышь отпустили, отключаем перемещение окна
            document.onmousemove = null;
            document.onmouseup = null;
          }.bind(this);

          // Отключаем выделение
          return false

        }.bind(this)

        // Тоже отключаем выделение
        this.ondragstart = function() {
          return false;
        };

        function resizer(e) {
          let places = e.target.id
          console.log(this, places.target)
          let old_y = e.y
          let old_x = e.x

          document.onmousemove = function(e) {
            if (places.indexOf('top')>=0) {
              this.$['test-app'].style.height = parseInt(this.$['test-app'].style.height) - (e.y - old_y) + "px"
              this.$['test-app'].style.top = parseInt(this.$['test-app'].style.top) + (e.y - old_y) + "px"
            }
            if (places.indexOf('right')>=0) {
              this.$['test-app'].style.width = parseInt(this.$['test-app'].style.width) + (e.x - old_x) + "px"
            }
            if (places.indexOf('bottom')>=0) {
              this.$['test-app'].style.height = parseInt(this.$['test-app'].style.height) + (e.y - old_y) + "px"
            }
            if (places.indexOf('left')>=0) {
              this.$['test-app'].style.left = parseInt(this.$['test-app'].style.left) + (e.x - old_x) + "px"
              this.$['test-app'].style.width = parseInt(this.$['test-app'].style.width) - (e.x - old_x) + "px"
            }
            
            old_y = e.y
            old_x = e.x
          }.bind(this);

          document.onmouseup = function() {
            document.onmousemove = null;
            document.onmouseup = null;
            this.window_size = [this.$['test-app'].style.width, this.$['test-app'].style.height]
          }.bind(this);

          return false
        }

        $(this.$['test-app']).find('#resizer-right')[0].onmousedown = resizer.bind(this)//(['right'])

        $(this.$['test-app']).find('#resizer-left')[0].onmousedown = resizer.bind(this)//(['left'])

        $(this.$['test-app']).find('#resizer-top')[0].onmousedown = resizer.bind(this)//(['top'])

        $(this.$['test-app']).find('#resizer-bottom')[0].onmousedown = resizer.bind(this)//(['bottom'])

        $(this.$['test-app']).find('#resizer-right-bottom')[0].onmousedown = resizer.bind(this)//(['right', 'bottom'])

        $(this.$['test-app']).find('#resizer-left-bottom')[0].onmousedown = resizer.bind(this)//(['left', 'bottom'])

        $(this.$['test-app']).find('#resizer-left-top')[0].onmousedown = resizer.bind(this)//(['left', 'top'])

        $(this.$['test-app']).find('#resizer-right-top')[0].onmousedown = resizer.bind(this)//(['right', 'top'])

        // Кнопки из заголовка
        var close_btn = $(this.$['test-app']).find('#close-btn')
        var min_btn = $(this.$['test-app']).find('#min-btn')
        var max_btn = $(this.$['test-app']).find('#max-btn')
        var dev_btn = $(this.$['test-app']).find('#dev-btn')
        var reload_btn = $(this.$['test-app']).find('#reload-btn')

        reload_btn.on('click', this.reload.bind(this))

        dev_btn.on('click', this.openDevTools.bind(this))

        close_btn.on('click', this.close.bind(this))

        // Сворачивание
        min_btn.on('click', function() {
          this.minimize()
        }.bind(this))

        //
        max_btn.on('click', this.maximize.bind(this))
      }

      openDevTools() {
        this.getWebview().openDevTools()
      }

      close() {
        // Удаляем приложение из alt+tab
        $("de-alttabmenu")[0].removeApp($(this).data('pid'))

        // Шлем из вебвьюхи ивент о закрытии приложения, закрываем приложение
        this.getWebview().executeJavaScript(`let {ipcRenderer} = require('electron');ipcRenderer.send("appClosed", {"title": window.appTitle, "pid": process.pid})`, false, function() {
          $(this).remove()
        }.bind(this))

        window.Emitter.emit("appInactive", $(this).data('pid'))

      }

      maximize() {
        if (!$(this.$['test-app']).hasClass("fullscreen")) {
          this.move(0, 0, true)
          let size = [$(window).width() + "px", $(window).height() - 50 + "px"]
          // console.log(size)
          $(this.$['test-app']).css("width", size[0]).css("height", size[1])
          $(this.$['test-app']).addClass("fullscreen")
        } else {
          // console.log("Exit", this.poz)
          // console.log(this.window_size)
          this.move(this.poz[0], this.poz[1])
          let size = this.window_size
          $(this.$['test-app']).css("width", size[0]).css("height", size[1])
          $(this.$['test-app']).removeClass("fullscreen")
        }
      }

      minimize() {
        $(this.$['test-app']).css({
          "opacity": "1",
        }).show().animate({
          opacity: 0
        }, {
          duration: 150,
          complete: function() {
            $(this.$['test-app']).css("z-index", "-1")
            window.Emitter.emit("appMinimized", $(this).attr("data-pid"))
          }.bind(this)
        })
      }

      reload() {
        this.close()
        $('#DE').append(`<de-app app="${this.app}"></de-app>`)
      }

      getElem() {
        return this.$['test-app']
      }

    }

    customElements.define(DeApp.is, DeApp);
  </script>

</dom-module>
