<dom-module id="de-dock-item">
  <!-- Optional shadow DOM template -->
  <template>
    <style>
      #dock-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 10px;
        width: 50px;
        height: 50px;
      }
      #dock-item:before{
	       content: "";
	       display: block;
	       padding-top: 100%; 	/* initial ratio of 1:1*/
      }
    </style>

    <!-- shadow DOM for your element -->

    <div id="dock-item" on-click="runApp" width="{{size}}" height="{{size}}">
      <img src="../apps/{{app}}/icon.png" width="{{iconSize}}" height="{{iconSize}}"/>
    </div> <!-- data bindings in local DOM -->
  </template>

  <script>
    $ = require('jquery')
    ipcRenderer = require('electron').ipcRenderer
    // Define the element's API using an ES2015 class
    class DeDockItem extends Polymer.Element {

      static get is() {
        return 'de-dock-item';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          app: {
            type: String,
            value: "fileMan"
          },
          iconSize: {
            type: Number,
            value: 40
          },
          size: {
            type: Number,
            value: 50
          },
          active: {
            type: Boolean,
            value: false
          }
        }
      }

      toggleActive() {
        if (this.active) {
          $(this.$['dock-item']).removeClass('active')
        } else {
          $(this.$['dock-item']).addClass('active')
        }
      }

      runApp() {
        $("#DE").append(`<de-app app="${this.app}"></de-app>`)
        console.log(this)
        // if (!this.active) {
        //   this.toggleActive()
        // }
      }

    //   ready() {
    //     super.ready()
    //     console.log(this.$)
    //     if (this.active) {
    //       $(this.$['dock-item']).addClass('active')
    //     }
    //     ipcRenderer.on('appInactive-' + this.app, function() {
    //       $(this.$['dock-item']).removeClass('active')
    //     }.bind(this))
    //   }
    //
    }

    // Register the x-custom element with the browser
    customElements.define(DeDockItem.is, DeDockItem);
  </script>

</dom-module>
