<link rel="import" href="de-dock-item.html">
<link rel="import" href="dock-app.html">
<link rel="import" href="dock-dash.html">
<link rel="import" href="../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<dom-module id="de-dock">
  <!-- Optional shadow DOM template -->
  <link rel="import" href="../bower_components/paper-styles/color.html">
  <link rel="import" href="../bower_components/iron-icons/av-icons.html">
  <link rel="import" href="../bower_components/iron-icons/iron-icons.html">
  <link rel="import" href="../bower_components/paper-slider-v/paper-slider.html">
  <template>
    <style>
      :host {
        position: absolute;
        --dock-height: 50px;
        height: var(--dock-height, 50px);
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 100500;
      }

      #dock {
        
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.76);
        height: var(--dock-height, 50px);
        width: 100%;
        background: var(--main-color, #13191c);
        display: flex;
        justify-content: space-between;
        color: white;
        bottom: 0;
        left: 0;
        transition: background-color .2s;
        z-index: 100500;
      }

      #launch,
      #apps {
        display: flex;
        align-items: center;
        height: var(--dock-height, 50px);
      }

      #watch-wrapper {
        font-size: 0.9;
        height: var(--dock-height, 50px);
        width: var(--dock-height, 50px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
      }

      #items-wrapper {
        display: flex;
      }

      #widgets {
        display: flex;
      }

      #volume {
        cursor: pointer;
        position: relative;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-right: 10px;
      }

      #volume iron-icon {
        /*background-color: red;*/
        width: 1.3em;
        height: 1.3em;
        color: white;
      }


      paper-slider {
        display: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        z-index: 100600;
        background: white;
        transform: rotate(-90deg);
        position: absolute;
        top: -130px;
        left: -90px;
        --paper-slider-active-color: var(--volume-progress-color);
        --paper-slider-knob-color: var(--volume-color);
        /*--paper-slider-secondary-color: var(--paper-red-500);*/
      }
    </style>

    <!-- shadow DOM for your element -->
    <div id="dock">
      <div id="items-wrapper">
        <dock-dash></dock-dash>
        <div id="launch">

        </div>
        <div id="apps">

        </div>
      </div>
      <div id="widgets">
        <div id="volume">
          <paper-slider id="volumer" value={{volume}}></paper-slider>
          <iron-icon icon="av:volume-up"></iron-icon>
        </div>
        <div id="watch-wrapper"><span id="watch"></span></div>
      </div>
    </div>
    <!-- data bindings in local DOM -->
  </template>

  <script>
    var pulse = require(__dirname + "/pulse.js")
    console.log(pulse)
    // Define the element's API using an ES2015 class
    class DeDock extends Polymer.Element {

      static get is() {
        return 'de-dock';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          volume: {
            type: Number,
          }
        }
      }

      // Add methods to the element's public API
      greetMe() {
        console.log(this.greeting);
      }

      appendApp(app, pid) {
        $(this.$.dock.querySelector("#apps")).append(
          `<dock-app iconSize=40 size=50 pid=${pid} app="${app}"></dock-app>`)
      }

      toggleActive() {
        let dock_item = $(this.$.dock).find("#volume")
        let volumer = $(this.$.dock).find("#volumer")
        if (!this.active) {
          dock_item.addClass("active")
          volumer.addClass("active")
          volumer.css({
            "opacity": "0",
            "display": "flex",
          }).show().animate({
            opacity: 1
          }, 100)
          // this.$.dash.querySelector("#search").focus()
          this.active = true
        } else {
          dock_item.removeClass("active")
          volumer.css({
            "opacity": "1",
            "display": "flex",
          }).show().animate({
            opacity: 0
          }, {
            duration: 100,
            complete: function () {
              volumer.removeClass("active")
              volumer[0].style.display = "none"
            }.bind(this)
          })
          // this.$.dash.querySelector("#search").value = ""
          this.active = false
        }
      }

      ready() {
        super.ready()

        this.digitalWatch = function () {
          var date = new Date();
          var hours = date.getHours();
          var minutes = date.getMinutes();
          var seconds = date.getSeconds();
          if (hours < 10) hours = "0" + hours;
          if (minutes < 10) minutes = "0" + minutes;
          if (seconds < 10) seconds = "0" + seconds;
          $(this.$['dock']).find("#watch")[0].innerHTML = hours + ":" + minutes
          setTimeout(function () {
            this.digitalWatch()
          }.bind(this), 1000);
        }.bind(this)
        this.digitalWatch()

        let slider = $($(this.$.dock).find("#volumer")[0])
        console.log(slider)
        slider.on('change', function () {
          this.volume = slider.val()
          pulse.set(this.volume)
        })

        pulse.get().then(function (v) {
          console.log(v)
          this.volume = v
        }.bind(this))

        this.style.setProperty('--main-color', `var(--paper-${window.config.primaryColor}-600)`)
        this.style.setProperty('--volume-color', `var(--paper-${window.config.primaryColor}-500)`)
        this.style.setProperty('--volume-progress-color', `var(--paper-${window.config.primaryColor}-400)`)

        Emitter.on('colorSchemeChanged', function (color) {
          this.style.setProperty('--main-color', `var(--paper-${color}-600)`)
          this.style.setProperty('--volume-color', `var(--paper-${color}-500)`)
          this.style.setProperty('--volume-progress-color', `var(--paper-${color}-400)`)
        }.bind(this))

        $(this.$.dock).find('#volume iron-icon').click(this.toggleActive.bind(this))

        $(document.body).on("click", function (e) {
          let m_c = $(this.$.dock).find('#volumer')[0].getBoundingClientRect()
          let b_c = $(this.$.dock).find('#volume')[0].getBoundingClientRect()
          if (!(
              (m_c.top < e.pageY && e.pageY < m_c.top + $(this.$.dock).find('#volumer').width()) &&
              (m_c.left < e.pageX && e.pageX < m_c.left + $(this.$.dock).find('#volumer').height())
            ) && !(
              (b_c.top < e.pageY && e.pageY < b_c.top + $(this.$.dock).find('#volume').height()) &&
              (b_c.left < e.pageX && e.pageX < b_c.left + $(this.$.dock).find('#volume').width())
            ) && this.active) {
            this.toggleActive()
          }
        }.bind(this));

        Emitter.on('appActive', function () {
          if (this.active)
            this.toggleActive()
        }.bind(this))
        //
        // slider.css('left', $(this.$.dock).find("#volume")[0].getBoundingClientRect()['left'] - 90 + "px")
        // slider.css('top', $(this.$.dock).find("#volume")[0].getBoundingClientRect()['top'] - 130 + "px")
      }

    }

    // Register the x-custom element with the browser
    customElements.define(DeDock.is, DeDock);
  </script>

</dom-module>