<dom-module id="dock-app">
  <!-- Optional shadow DOM template -->
  <template>
    <style>
      #dock-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 10px;
        width: 50px;
        height: 50px;
        transition: background .2s;
      }
      #dock-item:before{
	       content: "";
	       display: block;
	       padding-top: 100%; 	/* initial ratio of 1:1*/
      }
      #dock-item.active {
        background-color: var(--active-background, rgb(44, 50, 53));
      }
      #dock-item::after {
        content: "";
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2px;
        background-color: var(--underline-background, #00bcd4);
      }

      #preview {
        z-index: 100500;
        width: 210px;
        height: 210px;
        background: var(--active-background, rgba(0, 0, 0, 0.71));
        position: absolute;
        top: -220px;
        /*left: -80px;*/
        margin-left: -70px;
        display: none;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      }

      #preview img {
        max-width: 200px;
        max-height: 200px;
        width: auto;
        margin: auto;
      }
    </style>

    <!-- shadow DOM for your element -->

    <div id="preview">
      <img src="#" />
    </div>

    <div id="dock-item" on-click="toggleActive" width="{{size}}" height="{{size}}">
      <img src="../apps/{{app}}/icon.png" width="{{iconSize}}" height="{{iconSize}}"/>
    </div> <!-- data bindings in local DOM -->
  </template>

  <script>
    $ = require('jquery')
    ipcRenderer = require('electron').ipcRenderer
    // Define the element's API using an ES2015 class
    class DockApp extends Polymer.Element {

      static get is() {
        return 'dock-app';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          app: {
            type: String,
            value: "fileMan"
          },
          iconSize: {
            type: Number,
            value: 40
          },
          size: {
            type: Number,
            value: 50
          },
          active: {
            type: Boolean,
            value: true
          },
          pid: {
            type: Number
          }
        }
      }

      toggleActive() {
        // console.log("Test")
        let app = $(`de-app[data-pid=${this.pid}]`)[0]
        if (!this.active) {
          // console.log("Forward")
          app.goForward()
          this.active = true
        } else {
          // console.log("Minimize")
          app.minimize()
          this.active = false
        }
      }

      showPreview() {
        let app = $(`de-app[data-pid=${this.pid}]`)[0]
        app.getWebview().capturePage(function(image) {
          $(this.$.preview).find('img')[0].src = image.toDataURL()
          $(this.$.preview).css({
            "opacity": "0",
            "display": "flex",
          }).show().animate({
            opacity: 1
          }, 200)
          // this.$.preview.style.display = "flex"
        }.bind(this))
      }

      hidePreview() {
        // this.$.preview.style.display = "none"
        $(this.$.preview).css({
          "opacity": "1",
          "display": "flex",
        }).show().animate({
          opacity: 0
        }, {
          duration: 300,
          complete: function() {
            this.$.preview.style.display = "none"
          }.bind(this)
        })
      }

      ready() {
        super.ready()
        // console.log(this.$)
        if (this.active) {
          $(this.$['dock-item']).addClass('active')
        }
        window.Emitter.on('appInactive', function(pid) {
          // console.log(pid)
          if (pid == this.pid) {
            // console.log("Closed")
            $(this).remove()
          }
        }.bind(this))
        window.Emitter.on("appActive", function(pid) {
          // console.log(pid)
          if (pid == this.pid) {
            if (!this.active)
              $(this.$['dock-item']).addClass('active')
              this.active = true
          } else {
            $(this.$['dock-item']).removeClass('active')
            this.active = false
          }
        }.bind(this))
        window.Emitter.on("appMinimized", function(pid) {
          // console.log(pid)
          if (pid == this.pid) {
            if (this.active) {
              $(this.$['dock-item']).removeClass('active')
              this.active = false
            }
          }
        }.bind(this))

        this.addEventListener("mouseover", this.showPreview.bind(this))
        this.addEventListener('mouseout', this.hidePreview.bind(this))

        this.style.setProperty('--active-background', `var(--paper-${window.config.primaryColor}-400)`)
        this.style.setProperty('--underline-background', `var(--paper-${window.config.primaryColor}-200)`)

        Emitter.on('colorSchemeChanged', function(color){
          // console.log("Color", color)
          this.style.setProperty('--active-background', `var(--paper-${color}-400)`)
          this.style.setProperty('--underline-background', `var(--paper-${color}-200)`)
        }.bind(this))
      }

    }

    // Register the x-custom element with the browser
    customElements.define(DockApp.is, DockApp);
  </script>

</dom-module>
