<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="dash-category.html">
<link rel="import" href="dash-app-item.html">
<link rel="import" href="../bower_components/paper-styles/color.html">

<dom-module id="dock-dash">
  <!-- Optional shadow DOM template -->
  <template>
    <style>
       :host {
        --primary-color: var(--paper-red-800);
        --secondary-color: var(--paper-red-500);
      }

      #dock-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 10px;
        width: 50px;
        height: 50px;
        transition: background .2s;
      }

      #dock-item:before {
        content: "";
        display: block;
        padding-top: 100%;
        /* initial ratio of 1:1*/
      }

      #dock-item.active {
        background: var(--primary-color, rgb(44, 50, 53));
        transition: background .2s;
      }

      #dash {
        display: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.06);
        z-index: 100500;
        background-color: white;
        width: 400px;
        height: 500px;
        left: 10px;
        bottom: 60px;
        position: absolute;
        overflow: hidden;
      }

      #dash.active {
        display: flex;
      }

      #dash #top {
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        height: 100%;
        width: 50px;
        background: var(--primary-color, --paper-red-800);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        z-index: 1005002;
        transition: background .2s;
      }


      #dash #bottom {
        display: flex;
        flex-direction: column;
        width: calc(100% - 50px);
        height: 100%;
      }

      #search-wrapper {
        width: 100%;
        height: 60px;
        background: var(--secondary-color, --paper-red-500);
        display: flex;
        flex-direction: column;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0);
        transition: height .3s;
        overflow: hidden;
        transition: background-color .2s, height .2s;
      }

      #search {
        width: 300px;
        margin-top: -10px;
        margin-left: 25px;
      }

      #dash #apps-wrapper {
        height: calc(100% - 60px);
        box-sizing: border-box;
        padding: 10px 0px;
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
      }

      #dash #apps-wrapper::-webkit-scrollbar {
        width: 4px;
      }

      #dash #apps-wrapper::-webkit-scrollbar-thumb {
        background: var(--primary-color, --paper-red-800);
        width: 4px;
      }
    </style>

    <style is="custom-style">
      paper-input {
        --paper-input-container-color: rgba(256, 256, 256, 0.8);
        --paper-input-container-focus-color: var(--primary-color, #C62828);
        --paper-input-container-input-color: white;
      }
    </style>

    <!-- shadow DOM for your element -->

    <div id="dash">
      <div id="top">
        <paper-icon-button icon="icons:power-settings-new"></paper-icon-button>
        <paper-icon-button icon="social:person"></paper-icon-button>
      </div>
      <div id="bottom">
        <div id="search-wrapper">
          <paper-input autofocus noLabelFloat id="search" name="Search" placeholder="Search"></paper-input>
        </div>
        <div id="apps-wrapper">

        </div>
      </div>
    </div>

    <div id="dock-item" on-click="toggleActive" width="{{size}}" height="{{size}}">
      <img src="dash.png" width="{{iconSize}}" height="{{iconSize}}" />
    </div>
    <!-- data bindings in local DOM -->
  </template>

  <script>
    $ = require('jquery')
    var fs = require('fs-extra')

    ipcRenderer = require('electron').ipcRenderer
    var mt = require("mousetrap")
    // Define the element's API using an ES2015 class
    class DockDash extends Polymer.Element {

      static get is() {
        return 'dock-dash';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          iconSize: {
            type: Number,
            value: 40
          },
          size: {
            type: Number,
            value: 50
          },
        }
      }

      toggleActive() {
        if (!this.active) {
          this.updateApps()
          $(this.$['dock-item']).addClass("active")
          $(this.$['dash']).addClass("active")
          $(this.$['dash']).css({
            "opacity": "0",
            "display": "flex",
          }).show().animate({
            opacity: 1
          }, 100)
          this.$.dash.querySelector("#search").focus()
          this.active = true
        } else {
          $(this.$['dock-item']).removeClass("active")
          $(this.$['dash']).css({
            "opacity": "1",
            "display": "flex",
          }).show().animate({
            opacity: 0
          }, {
            duration: 100,
            complete: function () {
              $(this.$['dash']).removeClass("active")
              this.$['dash'].style.display = "none"
            }.bind(this)
          })
          this.$.dash.querySelector("#search").value = ""
          this.active = false
        }
      }

      ready() {
        this.apps = []
        Emitter.on("dashAddApp", function (appName, app) {
          this.apps.push({
            'app': app,
            'appName': appName
          })
        }.bind(this))

        super.ready()

        Emitter.on("closeDash", this.toggleActive.bind(this))

        this.$.dash.querySelector("#search").addEventListener("focused-changed", function (e) {
          // console.log(e)
          if (e.detail.value) {
            mt.bind("enter", function () {
              this.$.dash.querySelector("#search-wrapper dash-app-item").runApp()
            }.bind(this))
          } else {
            mt.unbind("enter", function () {
              this.$.dash.querySelector("#search-wrapper dash-app-item").runApp()
            }.bind(this))
          }
        }.bind(this))

        this.$.dash.querySelector("#search").addEventListener("value-changed", function (e) {
          if (e.detail.value == "") {
            $(this.$.dash.querySelector("#search-wrapper")).height(60 + "px")
            $(this.$.dash.querySelectorAll("#search-wrapper dash-app-item")).remove()
            return
          }

          let s = this.search(e.detail.value)

          if (!s.length) {
            $(this.$.dash.querySelector("#search-wrapper")).height(60 + "px")
          } else {
            $(this.$.dash.querySelector("#search-wrapper")).height(60 + 50 * s.length + 10 + "px")
          }

          $(this.$.dash).find("#search-wrapper dash-app-item").each(function (k, v) {
            v.remove()
          })

          s.map(
            function (v) {
              $(this.$.dash.querySelector("#search-wrapper")).append(
                `<dash-app-item search app="${v.app}"></dash-app-item>`)
            }.bind(this)
          )
        }.bind(this))

        // mt.bind('alt', this.toggleActive.bind(this))

        $(document.body).on("click", function (e) {
          let m_c = this.$.dash.getBoundingClientRect()
          let b_c = this.$['dock-item'].getBoundingClientRect()
          if (!(
              (m_c.top < e.pageY && e.pageY < m_c.top + $(this.$.dash).height()) &&
              (m_c.left < e.pageX && e.pageX < m_c.left + $(this.$.dash).width())
            ) && !(
              (b_c.top < e.pageY && e.pageY < b_c.top + $(this.$['dock-item']).height()) &&
              (b_c.left < e.pageX && e.pageX < b_c.left + $(this.$['dock-item']).width())
            ) && this.active) {
            this.toggleActive()
          }
        }.bind(this));



        Emitter.on('appActive', function () {
          if (this.active)
            this.toggleActive()
        }.bind(this))

        this.style.setProperty('--secondary-color', `var(--paper-${window.config.primaryColor}-500)`)
        this.style.setProperty('--primary-color', `var(--paper-${window.config.primaryColor}-800)`)

        Emitter.on('colorSchemeChanged', function (color) {
          this.style.setProperty('--secondary-color', `var(--paper-${color}-500)`)
          this.style.setProperty('--primary-color', `var(--paper-${color}-800)`)
        }.bind(this))

        window.dash = this
      }

      updateApps() {
        this.categories = {
          "tools": {
            name: "Инструменты",
            items: []
          },
          "media": {
            name: "Медиа",
            items: []
          },
          "internet": {
            name: "Интернет",
            items: []
          },
          "system": {
            name: "Система",
            items: []
          }
        }
        let apps = fs.readdirSync(__dirname + '/../apps/')
        apps.map(function (app) {
          try {
            this.categories[fs.readJsonSync(__dirname + '/../apps/' + app + '/package.json')['access-info'][
              'category'
            ]].items.push(app)
          } catch (err) {
            console.log("Error:", app, __dirname + '/../apps/' + app + '/package.json', err);
            console.log(fs.readJsonSync(__dirname + '/../apps/' + app + '/package.json'))
          }
        }.bind(this))
        // console.log(categories)
        $(this.$.dash).find('#apps-wrapper *').remove()
        for (let categoryName in this.categories) {
          let category = this.categories[categoryName]
          let cat_el = $(`<dash-category name="${category.name}"></dash-category>`).appendTo($(this.$.dash).find(
            '#apps-wrapper'))
          for (let i in category.items) {
            let app = category.items[i]
            cat_el.append(`<dash-app-item app="${app}"></dash-app-item>`)
          }
        }
      }

      search(s) {
        return this.apps.filter(function (value) {
          return value.app.toLowerCase().startsWith(s.toLowerCase()) || value.appName.toLowerCase().startsWith(
            s.toLowerCase())
        })
      }

    }

    // Register the x-custom element with the browser
    customElements.define(DockDash.is, DockDash);
  </script>

</dom-module>