<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<dom-module id="de-notification">
  <!-- Optional shadow DOM template -->
  <template>
    <style>
      :host {
        width: 300px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        color: #252525;
        font-weight: 300;
        background: white;
        /* border-radius: 2px; */
        padding: 10px;
        display: block;
        margin-bottom: 10px;
        padding-left: 60px;
        min-height: 60px;
        box-sizing: border-box;
        margin-top: 10px;
        margin-right: 10px;
        position: relative;
        z-index: 9999999;
        transition: margin-left, .2s;
      }

      iron-icon {
        color: rgba(0, 0, 0, 0.38);
        width: 40px;
        position: absolute;
        left: 10px;
        height: 40px;
        top: 10px;
      }

      #title {
        font-weight: normal;
        width: 100%;
        display: inline-block;
        top: 10px;
      }

      .close {
        top: 3px;
        position: absolute;
        width: 35px;
        height: 35px;
        right: 3px;
      }
    </style>
    <iron-icon icon="icons:{{icon}}"></iron-icon>
    <paper-icon-button on-click="close" class="close" icon="icons:close"></paper-icon-button>
    <span id="title">{{ title }}</span>
    <span id="body">{{ body }}</span>
    <template is="dom-if" if="{{extended}}" restamp>

    </template>
  </template>


  <script>
  $ = require("jquery")
    // Define the element's API using an ES2015 class
    class DeNotification extends Polymer.Element {

      static get is() {
        return 'de-notification';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          "title": String,
          "body": String,
          "icon": {
            type: String,
            value: "info-outline"
          }
        }
      }

      close() {
        this.style.marginLeft = "350px"
        setTimeout(function(){this.remove()}.bind(this), 200)
      }

      ready() {
        super.ready()
        $(this).css({
          "margin-top": "-350px",
        }).animate({
          "margin-top": "10px",
        }, 200)
      }


    }

    // Register the x-custom element with the browser
    customElements.define(DeNotification.is, DeNotification);
  </script>

</dom-module>
