
<link rel="import" href="notification.html">
<dom-module id="notifications-panel">
  <!-- Optional shadow DOM template -->
  <template>
    <style>
    #notifications {
      width: 320px;
      padding-left: 10px;
      box-sizing: border-box;
      position: absolute;
      top: 0px;
      right: 0px;
      height: calc(100vh - 70px);

    }
    </style>

    <div id="notifications">
    </div>

  </template>

  <script>
    // Define the element's API using an ES2015 class
    class NotificationsPanel extends Polymer.Element {

      static get is() { return 'notifications-panel'; }

      // Declare properties for the element's public API
      static get properties() {
        return {

        }
      }

      append(title,options) {
        console.log(this.$, title, options)
        if (options.icon) {
          var notifi = $(`<de-notification title="${title}" body="${options.body}" icon="${options.icon}"></de-notification>`).prependTo(this.$.notifications)[0]
        } else {
          var notifi = $(`<de-notification title="${title}" body="${options.body}"></de-notification>`).prependTo(this.$.notifications)[0]
        }
        if (options.duration) {
          console.log(notifi)
          setTimeout(function(){console.log("Test");notifi.close()}.bind(this), options.duration)
        }
      }


    }

    // Register the x-custom element with the browser
    customElements.define(NotificationsPanel.is, NotificationsPanel);
  </script>

</dom-module>
